---
import ExperienceItem from "./ExperienceItem.astro";
import { getI18N, getLangInURL } from "@/i18n";

const lang = getLangInURL(Astro.url);
const { experiencia } = getI18N(lang);
---

<ol class="relative mt-16">
  {
    experiencia.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
