---
const personalImageAlt = "Esteban Sayago Fernando";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import { getI18N, getLangInURL } from "@/i18n";

const lang = getLangInURL(Astro.url);
const { hero } = getI18N(lang);
---

<div class="max-w-2xl mx-auto text-center">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-32 object-cover mx-auto"
      src="/me.webp"
      alt={personalImageAlt}
    />
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    {hero.title}
  </h1>
  <p
    set:html={hero.about}
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  />
  <nav class="flex flex-wrap gap-4 mt-8 justify-center">
    <SocialPill href="mailto:estebansayagodev@gmail.com">
      <MailIcon class="size-7" />
      estebansayagodev@gmail.com
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/esteban-sayago/">
      <LinkedInIcon class="size-7" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Puchinn">
      <GitHub class="size-7" />
      GitHub
    </SocialPill>
  </nav>
</div>
