---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-neutral-800/60 border-neutral-500 border focus-visible:ring-yellow-500/80 text-md hover:bg-neutral-900 hover:border-neutral-700 group max-w-fit rounded-sm hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
  target="_blank"
>
  <slot />
</a>
