---
import SocialPill from "./SocialPill.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import JavaScript from "./icons/JavaScript.astro";
import Typescript from "./icons/Typescript.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import NextJS from "./icons/NextJS.astro";
import Node from "./icons/Node.astro";
import Express from "./icons/Express.astro";
import Mongodb from "./icons/Mongodb.astro";
import SQL from "./icons/SQL.astro";
import Git from "./icons/Git.astro";
import Bash from "./icons/Bash.astro";
---

<div class="mx-auto w-full p-4 flex gap-3 flex-wrap justify-center">
  <SocialPill>
    <Html class="size-5" />
    HTML
  </SocialPill>
  <SocialPill>
    <Css class="size-5" />
    CSS
  </SocialPill>
  <SocialPill>
    <JavaScript class="size-5" />
    JavaScript
  </SocialPill>
  <SocialPill>
    <Typescript class="size-5" />
    TypeScript
  </SocialPill>
  <SocialPill>
    <Tailwind class="size-5" />
    Talwind CSS
  </SocialPill>
  <SocialPill>
    <React class="size-5" />
    React
  </SocialPill>
  <SocialPill>
    <NextJS class="size-5" />
    NextJS
  </SocialPill>
  <SocialPill>
    <Node class="size-5" />
    Node
  </SocialPill>
  <SocialPill>
    <Express class="size-5" />
    Express
  </SocialPill>
  <SocialPill>
    <Mongodb class="size-5" />
    MongoDB
  </SocialPill>
  <SocialPill>
    <SQL class="size-5" />
    SQL
  </SocialPill>
  <SocialPill>
    <Git class="size-5" />
    Git
  </SocialPill>
  <SocialPill>
    <Bash class="size-5" />
    Terminal
  </SocialPill>
</div>
