---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="relative text-white dark">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950/90 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,120,140,0.2),rgba(255,255,255,0))]"
    >
    </div>

    <div
      class="absolute h-full bottom-0 left-0 right-0 top-0 z-[-2] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:44px_44px]"
    >
    </div>

    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }
    </style>
  </body>
</html>
